/* Assignment 1: Flixster */

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root {
  background-color: #6e304b;
  color: #fff;
  margin: 20px;
}

header {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: 'Mate SC', serif;
}

#movie-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-container {
  margin: 30px;
  width: 180px;
}

.movie-image {
  border-radius: 4px;
  overflow: hidden;
}

.movie-image img {
  width: 100%;
}

.movie-title {
  font-size: 15px;
  font-weight: 600;
  max-width: 100%;
}

.movie-votes {

}