/* Assignment 1: Flixster */

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,300&display=swap');

:root {
  background-color: #6e304b;
  color: #fff;
  margin: 20px;
  font-family: 'Nunito', sans-serif;
}

header {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: 'Mate SC', serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  margin: 0 10px;
}

#search-bar-commands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.exit-search {
  background: transparent;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

button {
  border: none;
}

.search-button {
  padding: 5px;
  background: transparent;
  cursor: pointer;
}

.search-button img {
  width: 20px;
}

#movie-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#align-playing {
  margin-left: 100px;
  margin-right: 100px;
}

/* Movie Containers */
.movie-container {
  margin-bottom: 15px;
  width: 180px;
  font-family: 'Nunito', sans-serif;
}

.movie-image {
  border-radius: 4px;
  overflow: hidden;
}

.movie-image img {
  width: 100%;
}

.movie-title {
  font-size: 15px;
  font-weight: 600;
  max-width: 100%;
}

.hidden {
  display: none;
}

/* Load More Button */ 
#load-more-align {
  display: flex;
  justify-content: center;
}

.load-more {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
  margin: 20px;
  margin-bottom: 40px;
}

.load-more:hover {
  background-color: #ffd4c5;
  border: 2px solid #e4bfb3;
}

.movie-popup-container {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #fff;
}

.movie-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  padding: 20px;
  background: #57394a;
}

.popup-img, .movie-overview {
}

.popup-img img {
  width: 100%;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  #align-playing {
    margin-left: 50px;
    margin-right: 50px;
  }  

  .movie-container {
    width: 130px;
  }
}

@media only screen and (max-width: 600px) {
  #align-playing {
    margin-left: 10px;
    margin-right: 10px;
  }  

  .movie-container {
    width: 100px;
  }
}